@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stratagems Practice!</h1>
    <span class="text-info">Click to begin spreading Democracy!</span>
    <a asp-page="/Game/GamePage" type="button btn-warn" >Start Game</a>
    <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
</div>
