@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #712cf9;">Welcome to Stratagems Practice!</h1>
    <span class="text-info">Click to begin spreading Democracy!</span>
    <a asp-page="/Game/GamePage" type="button btn-warn" >Start Game</a>
</div>
